force-app/main/default/flows/Add_Examinee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Permission_Set_Assignment</name>
        <label>Assign Permission Set Assignment</label>
        <locationX>1018</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>permissionSetAssignmentRecord.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>permissionSetAssignmentRecord.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permission_Set_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Record_Value</name>
        <label>Assign User Record Value</label>
        <locationX>825</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>userRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.Is_Examinee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Permission_Set_Assignment</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>userRecordsChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Examinee__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add Examinee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Examinee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Permission_Set_Assignment</name>
        <label>Create Permission Set Assignment</label>
        <locationX>1392</locationX>
        <locationY>68</locationY>
        <inputReference>permissionSetAssignmentRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Permission_Set_Id</name>
        <label>Get Permission Set Id</label>
        <locationX>429</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_User_Examinee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Examinee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>1200</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Create_Permission_Set_Assignment</targetReference>
        </connector>
        <inputReference>userRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Make_User_Examinee</name>
        <label>Make User Examinee</label>
        <locationX>629</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_User_Record_Value</targetReference>
        </connector>
        <fields>
            <name>Choose_User</name>
            <choiceReferences>userRecordsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose User</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>19</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Permission_Set_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>permissionSetAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>userRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
